# Dependências
node_modules
npm-debug.log

# Git
.git
.gitignore

# Build (será gerado no Docker)
dist

# Ambiente e segredos
.env
.env.local

# Logs
*.log
logs

# Arquivos do Replit
.replit
replit.nix
.upm
.config
.cache
.agent_state*
repl_state.bin

# Temporários
*.tmp
*.swp
.DS_Store
